@(id: Long, updateAddressForm: Form[models.Department], user: models.users.User)
@import helper._
@main("Update Department", user){
<p class="lead"> Update Department</p>

@form(action=routes.HomeController.updateDepartmentSubmit(id), 'class -> "form-horizontal", 
'role -> "form",'enctype -> "multipart/form-data") {
    @* CSRF attack prevention *@
    @CSRF.formField

    @inputText(updateAddressForm("department"), '_label -> "Department", 'class -> "form-control")
    @select(
        updateDepartmentForm("employee.id"),
        options(Employee.options),
        '_label -> "Employee", '_default -> "-- Choose a employee --",
        '_showConstraints -> false, 'class -> "form-control"
    )   
    <div class="actions">
        <input type="submit" value="Update Department" class="btn btn-primary">
        <a href="@routes.HomeController.department">
            <button type="button" class="btn btn-warning">Cancel</button>
        </a>
    </div>
 }
}